{% extends "base.html" %}

{% block title %}DEJAppli - Mes Dossiers{% endblock %}
{% block header %}<h1>Mes Dossiers</h1>{% endblock %}

{% block content %}

<table class="table">
  <thead>
       <tr>
           <th>Dossiers</th>
       </tr>
   </thead>
   <tbody>
       {% for d in dossiers %}
       <tr>
           <td>{{ d }} </td>
           <td>
             <form method="post">
                 {% csrf_token %}
                 <button class="btn btn-xs" type="submit" name="btnaffdetails" value="{{d.id}}">Afficher details</button>
             </form>
          </td>
       </tr>
      {%endfor%}
    </tbody>
</table>

{% endblock %}
