{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Questions Préliminaires</h1>{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
        {{ formImc|crispy }}
      </div>
    </div>
    <div class="row">
      <input class="btn btn-default" type="submit" name="btnsuivantt" value="Suivant">
    </div>
</form>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item"><a href="/calculdej/calculdejmb">Questions Préliminaires</a></li>
        <li class="nav-item"><a href="/calculdej/calculdejprofessionnelle">Activités Professionnelles</a></li>
        <li class="nav-item"><a href="/calculdej/calculdejusuelle">Activités Usuelles</a></li>
        <li class="nav-item"><a href="/calculdej/calculdejloisir">Activités Loisirs</a></li>
        <li class="nav-item"><a href="/calculdej/calculdejsport">Activités Sportives</a></li>
      </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(function () {
      var url = window.location;
      $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
      $('ul.nav a').filter(function() {
           return this.href == url;
      }).parent().addClass('active');
  });
</script>

{% endblock %}
