{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Questions Préliminaires</h1>{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ formImc|crispy }}
    <input type="submit" name="btnsuivant" value="suivant">
    <!-- <input type="submit" name="btnsuivant" value="suivant" onclick=onclick=window.location.href='{% url 'calculdejprofessionnelle' %}'> -->
</form>

{% endblock %}

{% block footer %}
<!-- <a class="btn btn-default" href="{% url 'calculdejprofessionnelle' %}" role="button">Suivant</a> -->
{% endblock %}
