{% extends "base.html" %}

{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Résultats</h1>{% endblock %}

{% block content %}

<table class="table">
  <thead>
       <tr>
           <th>Categorie</th>
           <th>Activités</th>
           <th>Durée</th>
       </tr>
   </thead>
   <tbody>
       {% for trav in travails %}
       <tr>
           <td>{{ trav.categorieTrav }} </td>
           <td>{{ trav.activiteTrav }} </td>
           <td>{{ trav.dureeTrav }} </td>
       </tr>
       <tr>
      {%endfor%}
</table>

<p>{{ p }}, {{ t }}, {{ s }}, {{ a }}</p>
<p>{{ MB }}</p>
<p>{{ TD }}</p>
<p>{{ DEProfessionnelles }}</p>
<p>{{ DEUsuelles }}</p>
<p>{{ DELoisirs }}</p>
<p>{{ DESports }}</p>
<p>{{ DE }}</p>

{% endblock %}
