{% extends "baseActivite.html" %}

{% load crispy_forms_tags %}
{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Activités Loisirs</h1>{% endblock %}

{% block explication %}

<h4>Ajoutez toutes les activités loisirs que vous faites en heure par semaine.</h4>

{% endblock %}

{% block form %}

<form id="calcForm" method="post"
 data-act-url="{% url 'load_act' %}">
    {% csrf_token %}
  {{ formDej|crispy }}
    <button class="btn btn-success" type="submit" name="btnajouter">Ajouter</button>
</form>

<div>
</br>
</br>
  {%if duree_depassee %}
    <h2 class="row" style="color:red;">durée total : {{duree_tot }}</h2>
    <p class="row" style="color:red;font-size:20px"> Attention vous ne devez pas dépasser 24 heures, vous devez supprimer certaines activités </p>
  {%else%}
    <h2 class="row" style="color:green;">durée total : {{duree_tot }}</h2>
  {%endif%}

</div>

{% endblock %}

{% block tab %}

<table class="table">
  <thead>
       <tr>
           <th>Categorie</th>
           <th>Activite</th>
           <th>Duree</th>
       </tr>
   </thead>
   <tbody>
       {% for trav in travails %}
       <tr>
           <td>{{ trav.categorieTrav }} </td>
           <td>{{ trav.activiteTrav }} </td>
           <td>{{ trav.dureeTrav }} </td>
           <td>
             <form method="post">
                 {% csrf_token %}
                 <button class="btn btn-danger btn-xs" type="submit" name="btnsupprimer" value="{{trav.id}}">Supprimer</button>
             </form>
            </td>
       </tr>
       <tr>
      {%endfor%}
</table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_cat").change(function () {
      var url = $("#calcForm").attr("data-act-url");  // get the url of the `load_cities` view
      var cat_select = $(this).val();  // get the selected country ID from the HTML input
      // alert(cat_sls$elect);
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'cat': cat_select       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          // acts = activites.filter(categorie=cat)
          $("#id_act").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>

{% endblock %}

{% block footer %}

<a class="btn btn-default" href="{% url 'calculdejsport' %}" role="button">Suivant</a>

{% endblock %}
