{% extends "baseActivite.html" %}

{% load crispy_forms_tags %}
{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Activités Professionnelles</h1>{% endblock %}

{% block form %}

<form id="calcForm" method="post"
 data-act-url="{% url 'load_act' %}">
    {% csrf_token %}
    {{ formDej|crispy }}
    <!-- <button class="btn btn-success" type="submit" name="btnajouter">Ajouter</button> -->
</form>

<div>
  <p> vous deplacez-vous au travail ?
  <input type="radio" name="rdouinon" value="Non"/> Non
  <input type="radio" name="rdouinon" onclick="myFunction()" value="Oui"/> Oui
  </p>
</div>

<!-- <div id="myDIV" style="display: none"> -->
<form method="post" id="myDIV" style="display: none">
    {% csrf_token %}
    {{ formDeplacement|crispy }}
</form>
<!-- </div> -->

{% endblock %}

{% block tab %}

<table class="table">
  <thead>
       <tr>
           <th>Catégorie</th>
           <th>Activités</th>
           <th>Durée</th>
       </tr>
   </thead>
   <tbody>
       {% for trav in travails %}
       <tr>
           <td>{{ trav.categorieTrav }} </td>
           <td>{{ trav.activiteTrav }} </td>
           <td>{{ trav.dureeTrav }} </td>
           <td>
             <form method="post">
                 {% csrf_token %}
                 <button class="btn btn-danger btn-xs" type="submit" name="btnsupprimer" value="{{trav.id}}">Supprimer</button>
             </form>
            </td>
       </tr>
       <tr>
      {%endfor%}
</table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_cat").change(function () {
      var url = $("#calcForm").attr("data-act-url");  // get the url of the `load_cities` view
      var cat_select = $(this).val();  // get the selected country ID from the HTML input
      // alert(cat_sls$elect);
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'cat': cat_select       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          // acts = activites.filter(categorie=cat)
          $("#id_act").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

  <script type="text/javascript">
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>
{% endblock %}

{% block footer %}

<a class="btn btn-default" href="{% url 'calculdejusuelle' %}" role="button">Suivant</a>

{% endblock %}
