{% extends "base.html" %}

{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Résultats</h1>{% endblock %}

{% block content %}

<table class="table">
  <thead>
       <tr>
           <th>Categorie</th>
           <th>Activités</th>
           <th>Durée</th>
       </tr>
   </thead>
   <tbody>
       {% for trav in travails %}
       <tr>
           <td>{{ trav.categorieTrav }} </td>
           <td>{{ trav.activiteTrav }} </td>
           <td>{{ trav.dureeTrav }} </td>
       </tr>
       <tr>
      {%endfor%}
</table>

<h3>Votre dépense énergétique instantanée est de {{ DE }} kcal/min</h3>
<h4>Votre niveau d'activité journalière est {{ niveau }} !</h4>

<p> {{d1}}, {{d2}}, {{d3}}, {{d4}}, {{d5}}</p>

{% endblock %}
