{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Activités Professionnelles</h1>{% endblock %}

{% block content %}


<!-- {{ formDej|crispy }} -->
<!-- {{ formDeplacement|crispy }} -->


<div class="row">

<form id="calcForm" method="post"
 data-act-url="{% url 'load_act' %}" class="form-inline">
<div class="row">
  {% csrf_token %}
  <div class="row form-group has-feedback">
    <div style="display: none">
      {{ formDej.cat|as_crispy_field }}
    </div>
    {{ formDej.act|as_crispy_field }}
    {{ formDej.duree|as_crispy_field }}
  </div>
</div>

<div class="row info-form">
  <p>Vous deplacez-vous au travail ?
  <br>
  <input type="radio" id="btn1" name="rdouinon" onclick="myFunctionOui()" value="Oui"/> Oui
  <input type="radio" id="btn1" name="rdouinon" checked="checked" onclick="myFunctionNon()" value="Non"/> Non
  </p>
</div>

<div id="myDIV" style="display: none" class="row">
  <p>Veuillez indiquer le temps correspondant en heure pour chaque type de déplacement</p>
  <div class="row">
    <div class="col-sm-6">
      {{ formDeplacement.dureelentsansport|as_crispy_field }}
    </div>
    <div class="col-sm-6">
      {{ formDeplacement.dureemoderesansport|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{ formDeplacement.dureemodereavecport|as_crispy_field }}
    </div>
    <div class="col-sm-6">
      {{ formDeplacement.dureeintense|as_crispy_field }}
    </div>
  </div>
</div>

</div>


<div class="row">
  <input id="btnSuivant" class="btn btn-default" type="submit" name="btnsuivant" value="Suivant">
</div>

</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_cat").change(function () {
    var url = $("#calcForm").attr("data-act-url");  // get the url of the `load_cities` view
    var cat_select = $(this).val();  // get the selected country ID from the HTML input
    // alert(cat_sls$elect);
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'cat': cat_select       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        // acts = activites.filter(categorie=cat)
        $("#id_act").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>

<script type="text/javascript">
function myFunctionNon() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "block") {
    x.style.display = "none";
  }
}

function myFunctionOui() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  }

}
</script>

<!-- <a class="btn btn-default" href="{% url 'calculdejusuelle' %}" role="button" name="asuivant">Suivant</a> -->
<!-- <form method="post">
  {% csrf_token %}
  <input id="btnSuivant" class="btn btn-default" type="submit" name="btnsuivant" value="Suivant">
</form> -->
{% endblock %}
