{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}DEJAppli - Ma DEJ{% endblock %}
{% block header %}<h1>Questions Préliminaires</h1>{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
        {{ formImc|crispy }}
      </div>
    </div>
    <div class="row">
      <input class="btn btn-default" type="submit" name="btnsuivantt" value="Suivant">
    </div>
</form>

{% endblock %}
