body{
  background-color: #BDBDBD;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-"], footer{
  text-align: center;
}

[class*="row"]{
  margin-bottom: 40px;
}

#content{
  padding-top: 50px;
}

#erreur{
  font-weight: bold;
  color: red;
}

[class*="btn-block"]{
  margin-bottom: 20px;
}

header{
  text-align: center;
  background-color: #343736;
  margin-top: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  color: white;
  position: relative;
}

#contentActivity{
  margin-top: 40px;
}

#explication{
  text-align: center;
}

#home{
  position: absolute;
  left: 10px;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

#formConnect{
  border: 1px solid black;
  background-color: white;
  padding: 20px 20px 5px 20px;
}

#btnSuivant{
  margin-top: 20px;
}
