{% extends "base.html" %}

{% block title %}DEJAppli - Dossiers{% endblock %}
{% block header %}<h1>Dossiers</h1>{% endblock %}

{% block content %}

<table class="table">
  <thead>
       <tr>
           <th>Dossiers</th>
           <th>Auteur</th>
       </tr>
   </thead>
   <tbody>
     <a class="btn btn-default" href="{% url 'downloadcsv' %}" role="button">Download</a>

       {% for d in dossiers %}
       <tr>
           <td>{{ d }}</td>
           <td>{{ d.auteur }}</td>
           <td>
             <form method="post">
                 {% csrf_token %}
                 <button onclick="details()" class="btn btn-xs" type="submit" name="btnaffdetails" value="{{d.id}}">Afficher details</button>
             </form>
          </td>
       </tr>
      {%endfor%}
    </tbody>
</table>

<script type="text/javascript">
function details(){
  alert("\n {{ auteur }} le {{ date }} \n L'IMC était de {{ imc}} \n La dépense énergétique instantanée de {{ de }} kcal/min");
}
</script>

{% endblock %}
