{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block css %}
body{
  background-image: url("/static/img/home.png");
  background-size: cover;
}
{% endblock %}
{% block header %}
    {% if user.is_authenticated %}<h1>Bienvenue {{user.username}}</h1> <a id="deco" class="btn btn-danger btn-xs" href="/deconnexion" role="button">Déconnexion</a>{% else %}<h1>Connexion</h1>{% endif %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<a class="btn btn-default btn-block" href="/calculimc" role="button">Calcul IMC</a>
<a class="btn btn-default btn-block" href="/calculdej" role="button">Calculer ma DEJ</a>
<a class="btn btn-default btn-block" href="/consulterdossier" role="button">Consulter Mes Dossiers</a>

{% if user.username == 'admin' or user.username == 'beaune' %}
<a class="btn btn-default btn-block" href="/consultertouslesdossiers" role="button">Consulter Tous les Dossiers</a>
</br></br>
{% endif %}

<!-- Vous êtes connecté, {{ user.username }} ! -->
{% else %}
<form id="formConnect" class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    <div class="form-row">
      {{ form.username|as_crispy_field }}
    </div>
    <div class="form-row">
      {{ form.password|as_crispy_field }}
    </div>
    {% if error %}
    <p id="erreur">Utilisateur inconnu ou mauvais de mot de passe.</p>
    {% endif %}
    <button class="btn btn-default" type="submit">Se connecter</button>
</form>
<br>
<a class="btn btn-default btn-xs" href="/creercompte" role="button">Créer un compte</a>
{% endif %}

{% endblock %}
